{% extends 'core/base.html' %}

{% block meta %}
    {% include '_meta_tags.html' with meta_title=product.get_meta_title meta_description=product.meta_description meta_keywords=product.meta_keywords %}
{% endblock %}

{% block breadcrumbs %}
    {% include '_breadcrumbs.html' %}
{% endblock %}



{% block content_shop %}

<script>

</script>


<div class="row my-2 gap-3">
  <div class="col bg-body-tertiary rounded-3 p-4">
    
    <h3 class="my-header">{{ product.name }}</h3>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="row">
                {% for image in product.images.all %}
                    <div class="col-6">
                        <a href="{{ image.image.url }}" class="product-image"
                           data-lightbox="roadtrip">
                            <img src="{{ image.image_thumbnail.url }}" alt=""
                                 class="img-thumbnail">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
  
        <div class="col-xs-12 col-md-6">
            <p>Наличие:
                {% if product.quantity %}
                    {% if product.quantity >= 5 %}
                        <b class="text-success">В наличии</b>
                    {% else %}
                        <b class="text-warning">Заканчивается</b>
                    {% endif %}
                {% else %}
                    <b class="text-danger">Нет наличии</b>
                {% endif %}
            </p>
            <b class="text-danger product-price">{{ product.price }} грн.</b>
           
            {% if product.quantity %}
                    {% if user.is_authenticated %}
                        <form action="{% url 'add_to_cart' %}" method="get">
                            <input type="hidden" name="product" value="{{ product.id }}">
                            <div class="input-group mb-3">
                                <input type="number" min="1" step="1" max="{{ product.quantity }}" value="1" class="form-control" name="quantity">
                                <button class="btn btn-success" type="submit" id="button-addon1"><i class="fas fa-shopping-cart"></i> Добавить в корзину</button>
                                <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="far fa-heart"></i></button>
                            </div>
                        </form>
                    {% else %}
                        <div class="alert alert-info">Робити покупки можуть тільки зареєстровані користувачі</div>
                    {% endif %}
                {% else %}
                    <div class="alert alert-warning">Товар закінчився</div>
                {% endif %}





            <br>
            <h4 class="text-center">Описание</h4>
            <p></p>
        </div>
  
    </div>

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" data-bs-toggle="tab" href="#discript" aria-selected="true" role="tab" tabindex="-1">Описание</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link " data-bs-toggle="tab" href="#properties"  role="tab">Характеристики</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link " data-bs-toggle="tab" href="#reviews"  role="tab">Відгуки</a>
        </li>      
    </ul>
    <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active show" id="discript" role="tabpanel">
        <p>{{ product.description|safe }}</p>
    </div>
    <div class="tab-pane fade" id="properties" role="tabpanel">
        <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
    </div>
    <div class="tab-pane fade" id="reviews" role="tabpanel">
        {% comment %} Форма для відгуків {% endcomment %}
        <form method="post" action='shop/reviews'>
            {% csrf_token %}
            {{form.as_p}}
            <input class="btn btn-primary" type="submit" value="Додати коментар">
        </form>
    </div>
    </div>

    


  </div>
</div>



</div>






<script>
    lightbox.option({
        'resizeDuration': 200,
        'wrapAround': true
    });

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');


    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    $("#button-addon2").click(function(){
        $.ajax({
            url: '/api/v2/order/favorites/',         /* Куда отправить запрос */
            method: 'post',             /* Метод запроса (post или get) */
            dataType: 'json',          /* Тип данных в ответе (xml, json, script, html). */
            data: {'product': {{product.id}} },     /* Данные передаваемые в массиве */
            success: function(data){   /* функция которая будет выполнена после успешного запроса.  */
                $("#button-addon2").html('<i class="fas fa-heart"></i> Добавлено в избранное');
            }
        }).fail(function(data) {
            alert(data.responseText);
        });
    });
    
</script>






{% endblock %}